body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

header {
  text-align: center;
  padding: 20px 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

main {
  padding: 20px 0;
}

section {
  margin-bottom: 40px;
}

section h2 {
  margin-bottom: 10px;
}

footer {
  text-align: center;
  padding: 5px 0;
  background-color: #333;
  color: #fff;
}

h2 {
  text-align: center;
}

.profile-picture {
  text-align: center;
  padding-bottom: 10px;
}

.profile-picture img {
  border: 1px solid #000;
  border-radius: 50%;
}

.social-links {
  text-align: center;
  margin-top: 20px;
}

.social-links a {
  display: inline-block;
  margin: 0 10px;
  padding: 10px;
  text-decoration: none;
  color: #333;
  border: 1px solid #333;
  border-radius: 5px;
}

.social-links a:hover {
  background-color: #333;
  color: #fff;
}

.project-links {
  text-align: center;
  margin-top: 20px;
}

.project-links a {
  display: inline-block;
  margin: 0 10px;
  padding: 10px;
  text-decoration: none;
  color: #333;
  border: 1px solid #333;
  border-radius: 5px;
}

.project-links a:hover {
  background-color: #333;
  color: #fff;
}

.logo {
  float: left;
  margin-right: 0px;
}

.logo img {
  border: 2px solid rgba(0, 0, 0, 0.2); 
  border-radius: 5px;
  transition: border-color 0.3s ease; 
}